<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>All makers</title>
</head>
<body>
<div>
    <a href="/management">
        <button>Back to Management</button>
    </a>
    <a href="/catalogue">
        <button>Back to Catalogue</button>
    </a>
</div>
<div>
    <form th:action="|@{/management/maker/add}|" method="GET">
        <p>
            <input class="btn btn-success btn-block" type="submit" value="Add new Maker"/>
        </p>
    </form>
</div>
<h2>Existing Makers</h2>
<table>
    <thead>
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Description</th>
        <th>Products amount</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="maker : ${makers}">
        <td><span th:text="${maker.id}"></span></td>
        <td><a th:href="|@{/management/maker/}${maker.id}|" th:text="${maker.name}"></a></td>
        <td><span th:text="${maker.description}"></span></td>
        <td><span th:text="${maker.productsAmount}"></span></td>
    </tr>
    </tbody>
</table>
</body>
</html>