<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      lang="en">
<head>
    <title sec:authorize="hasRole('ADMIN')" th:text="${title}"></title>
    <title sec:authorize="hasRole('CUSTOMER')">Your Orders</title>
</head>
<body>
<h2>Previous Orders</h2>
<div th:if="${nothing}">
    <h4 sec:authorize="hasRole('CUSTOMER')">You haven't ordered anything yet.</h4>
    <h4 sec:authorize="hasRole('ADMIN')">This user hasn't ordered anything yet.</h4>
</div>
<table th:if="${!nothing}">
    <thead>
    <tr>
        <th>Order Id</th>
        <th>Date</th>
        <th>Products</th>
        <th>Total Cost</th>
        <th>Customer Name</th>
        <th>Customer Address</th>
        <th>Customer Phone</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="order : ${orders}">
        <td><span th:text="${order.orderId}"></span></td>
        <td><span th:text="${order.creationDate}"></span></td>
        <td><a th:href="|@{/order/}${order.orderId}|">view</a></td>
        <td><span th:text="${#numbers.formatDecimal(order.totalSum, 0, 'COMMA', 2, 'POINT')}"></span></td>
        <td><span th:text="${order.customerName}"></span></td>
        <td><span th:text="${order.customerAddress}"></span></td>
        <td><span th:text="${order.customerPhoneNumber}"></span></td>
    </tr>
    </tbody>
</table>
<div sec:authorize="hasRole('CUSTOMER')">
    <a href="/profile">
        <button>Back to Profile</button>
    </a>
</div>
<div sec:authorize="hasRole('ADMIN')">
    <a href="/management/user">
        <button>Back to Users</button>
    </a>
</div>
</body>
</html>