<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      lang="en">
<head>
    <title>Shopping Cart</title>
</head>
<body>
<h2>Added Products</h2>
<div th:if="${nothing}">
    <h4>Cart is empty</h4>
</div>
<table>
    <thead>
    <tr>
        <th>Name</th>
        <th>Description</th>
        <th>Price</th>
        <th>Amount in Shop</th>
        <th>Maker</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="product : ${products}">
        <form th:action="|@{/cart/delete/}${product.productId}|" method="get">
            <td><span th:text="${product.name}"></span></td>
            <td><span th:text="${product.description}"></span></td>
            <td>
                <span th:text="${#numbers.formatDecimal(product.priceWithDiscount, 0, 'COMMA', 2, 'POINT')}"></span>
            </td>
            <td><span th:text="${product.amount}"></span></td>
            <td><span th:text="${product.makerName}"></span></td>
            <td><input class="btn btn-success btn-block" type="submit" value="Delete from Cart"/></td>
        </form>
    </tr>
    </tbody>
</table>
<div th:if="${!nothing}">
    <h3>Products information</h3>
    <div th:text="${totalSum}">
        <span style="white-space: pre-line"></span>
    </div>
    <div th:text="${amountOfProducts}">
        <span style="white-space: pre-line"></span>
    </div>
    <div>
        <a href="/order/confirm">
            <button>Buy now</button>
        </a>
    </div>
</div>
<div>
    <a href="/catalogue">
        <button>Back to Catalogue</button>
    </a>
</div>

</body>
</html>